/*Immagine titolo*/
.londra-day1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../img/day1/madame.jpg');
    background-size: cover;
    background-position: center;
}

/*Stile immagine volo*/
.fly {
    width: 400px;
    height: 150px;
    display: block;
    margin: 32px auto;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Madame Tussauds*/
/* Container Principale */
.attraction-section {
    max-width: 800px;
    margin: 32px auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.attraction-container {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Immagine Circolare */
.attraction-image-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.circle-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #ebb866;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Box Suggerimento */
.tip-box {
    background-color: #f3eadc;
    border-left: 5px solid #c8102e;
    padding: 15px;
    font-size: 16px;
    border-radius: 0 10px 10px 0;
}

/*Sherlock Holmes*/
/* Invertire l'ordine dell'immagine e del paragrafo*/
.attraction-container .reverse {
    flex-direction: row-reverse;
}

/* Stile specifico per il box*/
.detective-tip {
    background-color: #dbdada;
    border-left-color: #333;
}

/*Immagine a sinistra */
.reverse .attraction-image-wrapper {
    justify-content: flex-start;
}

/*Zoo*/
.zoo-section {
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
    text-align: center;
}

.zoo-image {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.zoo-hero-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.zoo-content {
    max-width: 700px;
    margin: 0 auto;
}

.zoo-details-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #002147;
}

.zoo-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.zoo-info-item i {
    font-size: 24px;
    color: #ebb866;
}

.zoo-info-item span {
    font-weight: bold;
    font-size: 0.9rem;
    color: #555;
}

/*Curiosità su HP*/
.hp-curiosity-box {
    background-color: #dedce4;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.hp-curiosity-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hp-image {
    flex: 1;
    min-width: 300px;
    position: relative;
    line-height: 0;
    /* Rimuove spazi bianchi sotto l'immagine */
}

.hp-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 250px;
}

.hp-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(200, 16, 46, 0.9);
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.hp-text {
    flex: 1.2;
    padding: 30px;
    text-align: left;
}

.hp-text h3 {
    font-family: 'Anton', sans-serif;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hp-text p {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #444;
}

.hp-location-note {
    margin-top: 15px;
    font-size: 0.85rem !important;
    font-style: italic;
    color: #666;
}

/*Primrose Hills*/
.panoramic-step {
    text-align: center;
    margin: 60px auto;
    max-width: 600px;
}

/*Frase Harry*/
.binary-phrase {
    text-align: center;
    font-size: 40px;
    font-family: "Great Vibes", cursive;
    letter-spacing: 2px;
    margin-top: 32px;
    margin-bottom: 24px;
}

/*Stile Binario 9 3/4*/
.platform-section {
    background-color: #2b2b2b;
    color: white;
    margin-top: 40px;
    padding: 40px 0;
}

.platform-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
}

.platform-image {
    flex: 1;
}

.platform-image img {
    width: 100%;
    border-radius: 10px;
}

.platform-text {
    flex: 1.5;
}

.platform-title {
    color: #ebb866;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    margin-bottom: 20px;
}

.platform-text p {
    line-height: 1.7;
    opacity: 0.9;
}

.platform-list li {
    flex: 1.5;
    line-height: 1.7;
    opacity: 0.9;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.binary-info {
    color: white;
    margin-top: 32px;
}

/*Note per Mastro Hobbit */
.note-ranger {
    max-width: 700px;
    margin: 40px auto;
    background: #fdf5e6;
    border-left: 5px solid #8b4513;
    border-right: 5px solid #8b4513;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 0px rgba(235, 184, 102, 0.1);
    position: relative;
    transform: rotate(-1deg);
}

.title-ranger {
    display: block;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: #8b4513;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

.note-ranger p {
    margin-bottom: 0;
    font-style: italic;
    color: black;
    line-height: 1.5;
}

/*Hotel*/
.hotel-section {
    max-width: 800px;
    margin: 32px auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.tip-box i {
    color: #ebb866;
    margin-right: 5px;
}

/*Pub*/
.title-pub {
    color: white;
    margin-top: -10px;
    font-family: 'Playfair Display', serif;
}

.grapes-pub {
    background-color: #1a1a1a;
    padding: 60px 20px;
    border-radius: 20px;
}


/* ADATTAMENTO PER SMARTPHONE */
@media (max-width: 768px) {

    .londra-day1 {
        height: 23vh !important;
        background-position: center !important;
    }

    /* Immagine Volo */
    .fly {
        width: 100% !important;
        height: auto !important;
        max-width: 300px;
        margin: 20px auto !important;
    }

    /*Madame Tussauds & Sherlock: Immagini Circolari */
    .attraction-section {
        padding: 20px 0 !important;
        margin: 20px 0 !important;
        width: 100% !important;
    }

    .attraction-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        width: 100% !important;
        gap: 15px !important;
    }

    .attraction-image-wrapper {
        order: -1 !important;
        flex: none !important;
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        margin-bottom: 10px !important;
    }

    .circle-img {
        width: 200px !important;
        height: 200px !important;
        border-width: 4px !important;
        margin: 0 auto !important;
    }

    .tip-box {
        border-radius: 10px;
        margin: 15px 10px 0 10px;
        text-align: left;
    }

    .attraction-container.reverse {
        flex-direction: column !important;
    }

    .reverse .attraction-image-wrapper,
    .reverse {
        justify-content: center !important;
        align-items: center !important;
    }

    /* HP Curiosity */
    .hp-curiosity-content {
        flex-direction: column !important;
        text-align: center !important;
    }

    .hp-text {
        text-align: center !important;
        padding: 20px !important;
    }

    .hp-image {
        width: 100% !important;
        min-width: unset !important;
    }

    .hp-image img {
        height: 150px !important;
    }

    /*Sezione Binario 9 3/4 */
    .platform-section {
        padding: 30px 0 !important;
    }

    .platform-container {
        flex-direction: column !important;
        align-items: center !important;
        padding: 0 20px !important;
    }

    .platform-title {
        order: 1 !important;
        font-size: 34px !important;
        margin-top: 5px !important;
        margin-bottom: 15px !important;
        text-align: center;
    }

    .platform-image {
        width: 100% !important;
        max-width: 400px !important;
        margin: 0 auto !important;
    }

    .platform-image img {
        width: 100% !important;
        height: auto !important;
        object-fit: contain !important;
        border-radius: 10px;
    }

    .platform-text {
        order: 3 !important;
        width: 100% !important;
        text-align: center !important;
    }

    .platform-list {
        display: inline-block;
        text-align: left;
        margin-top: 10px;
    }

    .binary-phrase {
        font-size: 28px !important;
        padding: 0 10px;
    }

    /*Zoo di Londra */
    .zoo-section {
        margin: 40px auto;
    }

    .zoo-details-grid {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        justify-content: center !important;
        align-items: flex-start !important;
        gap: 15px !important;
        width: 100% !important;
    }

    .zoo-hero-img {
        height: 190px !important;
        width: 100% !important;
        object-fit: cover;
    }

    .zoo-info-item {
        flex: 1;
        max-width: 80px;
        font-size: 11px !important;
    }

    .zoo-info-item i {
        font-size: 18px !important;
    }

    /*Note Mastro Hobbit*/
    .note-ranger {
        width: 85% !important;
        margin: 25px auto !important;
        padding: 15px !important;
        transform: rotate(0deg) !important;
        box-shadow: 5px 5px 0px rgba(235, 184, 102, 0.1) !important;
    }

    .title-ranger {
        font-size: 18px !important;
        text-align: center;
    }

    .note-ranger p {
        font-size: 14px !important;
        text-align: center;
        line-height: 1.4;
    }

    /* Box HP e Binario 9 3/4 */
    .hp-image img {
        min-height: 180px !important;
        max-height: 200px !important;
    }

    .hp-text {
        text-align: center !important;
        padding: 20px !important;
    }

    .hp-curiosity-content {
        flex-direction: column;
        text-align: center;
    }

    .platform-container {
        flex-direction: column !important;
        align-items: center !important;
        padding: 20px !important;
    }

    .platform-text {
        text-align: center !important;
        order: 3;
    }

    .platform-title {
        order: 1 !important;
        font-size: 30px !important;
        margin-top: 0 !important;
        margin-bottom: 15px !important;
    }

    .platform-image {
        order: 2;
        width: 100% !important;
        max-width: 320px !important;
        margin-bottom: 20px !important;
    }

    .platform-image img {
        height: 130px !important;
        background-image: url('../img/day1/binary-london.avif');
        border-radius: 8px;
    }

    .platform-list {
        text-align: left !important;
        font-size: 14px;
        display: inline-block;
    }

    /* Pub e Hotel */
    .grapes-pub {
        padding: 30px 15px;
        border-radius: 10px;
        margin: 0 10px;
    }

    .title-pub {
        font-size: 28px !important;
    }
}