/* Quando lo schermo è più stretto di 600px (smartphone) */
@media (max-width: 600px) {

    /* Riduzione del titolo per non farlo andare a capo male */
    .header-title {
        font-size: 2.5rem;
        padding: 0 15px;

    }

    /*Stringiamo lo spazio tra le voci del menù*/
    /*Testo del menù un po' più piccolo */
    .menu-links {
        gap: 10px;
        font-size: 0.7rem;
    }

    /* Riduzione altezza immagine*/
    .section-title {
        height: 60vh;
    }
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    /* Forza la colonna singola su mobile */
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}